{% sw_extends '@Storefront/storefront/component/listing/filter/filter-multi-select.html.twig' %}

{% if dataPluginSelectorOptions is not defined %}
    {% set dataPluginSelectorOptions = {
        name: name,
        propertyName: propertyName,
        snippets: {
            disabledFilterText: 'listing.disabledFilterTooltip'|trans|sw_sanitize
        }
    } %}
{% endif %}

{% block component_filter_multi_select_list %}
    <ul class="filter-multi-select-list">
        {% for element in elements %}
            {% block component_filter_multi_select_list_item %}
                <li class="filter-multi-select-list-item">
                    {% block component_filter_multi_select_list_item_inner %}
                        {% sw_include '@Storefront/storefront/component/listing/filter/filter-property-select-items.html.twig' %}
                    {% endblock %}
                </li>
            {% endblock %}
        {% endfor %}
    </ul>
{% endblock %}
