{% sw_extends '@Storefront/storefront/component/listing/filter/filter-multi-select.html.twig' %}

{% if dataPluginSelectorOptions is not defined %}
    {% set dataPluginSelectorOptions = {
        name: name,
        propertyName: propertyName,
        propertyId: property.id,
        listingOptionIds: property.listingOptionIds,
        onDemand: true,
        snippets: {
            disabledFilterText: 'listing.disabledFilterTooltip'|trans|sw_sanitize
        }
    } %}
{% endif %}

{% block component_filter_multi_select_list %}
    {% if onDemand %}
        {% sw_include '@Storefront/storefront/component/listing/filter/filter-property-select-items.html.twig' %}
    {% else %}
        <div class="filter-property-loading">
            <div class="loader" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
    {% endif %}
{% endblock %}
